*{
    padding: 0; margin: 0;
    border: none; outline: none;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    background-color: lightgray;
}

.btn{
    cursor: pointer;
    width: 30px;
    height: 30px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
}

.container{
    display: flex;
    border: 2px solid black;
    border-radius: 20px;
    margin-top: 20px;
}



.container .list{
    width: 550px;
    height: 400px;
    padding: 10px;
    overflow: scroll;
}

.container .list:nth-child(2){
    border-left: 2px solid black;
}

.container .list .buttons{
    margin-bottom: 10px;
}

.container .list .buttons .btn{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.container .list .post{
    height: 60px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
}

.container .list .post .text{
    width: 300px;
    font-size: 14px;
}

.container .list .post .rate{
    width: 30px;
    height: 30px;
    font-size: 15px;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
}
